.About-page {
    .about-page-header {
        background-image: radial-gradient(circle at 50% 71%, #ffffff, #000000 51%);
        font-family: Roboto-medium;
        font-size: 48px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .tokenomics-panel {
        display: flex;
        justify-content: space-between;
        width: 800px;
        margin: 36px auto 0;
        .block-header {
            margin-bottom: 20px;
            font-family: Roboto;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #ffffff;
        }
        .block-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 10px;
        }
        .block-item {
            width: 110px;
            margin-bottom: 15px;
            .block-item-header {
                font-family: Roboto;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: 0.15px;
                color: #ffffff;
                &.xl {
                    width: 115px;
                }
            }
            .block-item-value {
                display: flex;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: 0.25px;
                color: rgba(255, 255, 255, 0.6);
                .copy {
                    margin-left: 10px;
                    color: #ec2d44;
                    cursor: pointer;
                }
            }
        }
        .block-1 {
            width: 250px;
        }
        .block-2 {
            width: 400px;
        }
        .block-3 {
            .block-item {
                width: 100%;
            }
        }
    }
    .team-section {
        padding: 80px 0 120px;
        background: #171717;
        .team-section-header {
            background-image: radial-gradient(circle at 50% 50%, #ffffff, #000000 44%);
            font-family: Roboto-medium;
            font-size: 48px;
            margin-bottom: 40px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .photos {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 1040px;
        margin: 0 auto;
        a {
            color: black;
        }
        .photo {
            height: 220px;
            width: 220px;
            text-align: center;
            background-size: contain;
            &.fraser {
                background-image: url("../../assets/images/Fraser.png");
            }
            &.paul {
                background-image: url("../../assets/images/Paul.png");
            }
            &.justin {
                background-image: url("../../assets/images/Justin.png");
            }
            &.richard {
                background-image: url("../../assets/images/Richard.png");
            }
        }
        .name {
            margin-top: 10px;
            font-family: Roboto;
            font-size: 22px;
            color: #ec2d44;
        }
        .description-photo {
            font-family: Roboto;
            font-size: 16px;
            color: #BADA55;
            margin: 10px;
        }
        .social {
            display: flex;
            align-items: center;
            justify-content: center;
            b {
                margin-left: 14px;
                color: rgba(255, 255, 255, 0.54);
                font-size: 22px;
                &:hover {
                    opacity: 0.8;
                }
            }
            div:hover {
                opacity: 0.8;
            }
        }
    }
    .about-section {
        background: #171717;
        height: 600px;
        .header-about-section {
            padding-top: 160px;
            background-image: radial-gradient(circle at 50% 50%, #ffffff, #000000 116%);
            font-family: Roboto-medium;
            font-size: 48px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .about-section-description {
            width: 650px;
            margin: 0 auto;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: 0.25px;
            text-align: justify;
            color: rgba(255, 255, 255, 0.6);
            div {
                margin-top: 20px;
                &.bold {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            a {
                margin: 0 3px;
                color: rgba(255, 255, 255, 0.6);
                text-decoration: underline;
            }
        }
        .button-about {
            background-image: url('../../assets/buttons/about-medium.png');
            width: 104px;
            height: 36px;
            background-size: cover;
            margin: 24px auto 0;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .exotic-section {
        height: 700px;
        .clock-wrapper {
            width: 648px;
            height: 518px;
            margin: 36px auto;
            background-image: url('../../assets/images/clock.png');
        }
        .exotic-header {
            width: 240px;
            height: 114px;
            padding-top: 280px;
            background-image: radial-gradient(circle at 63% 15%, #ffffff, #000000 174%);
            font-family: Roboto-medium;
            font-size: 48px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .exotic-description {
            width: 240px;
            height: 140px;
            margin: 16px 0 0;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: 0.25px;
            color: rgba(255, 255, 255, 0.6);
        }
    }
    .question-block {
        margin: 80px auto;
    }
    @media screen and (max-width: 420px) {
        .about-page-header {
            background-image: radial-gradient(circle at 50% 71%, #ffffff, #000000 75%);
        }
        .tokenomics-panel {
            width: calc(100% - 40px);
            flex-direction: column;
            .block-1 {
                width: 100%;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                margin-bottom: 20px;
                .block-row {
                    flex-wrap: nowrap;
                    width: 90%;
                    .small {
                        width: 50px;
                    }
                }
            }
            .block-2 {
                width: 100%;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                margin-bottom: 20px;
                .block-row {
                    .block-item {
                        width: 40%;
                    }
                }
            }
            .block-3 {
                width: 100%;
                .block-row {
                    .block-item {
                        width: 40%;
                    }
                }
            }
        }
        .about-section {
            .header-about-section {
                padding-top: 40px;
                background-image: radial-gradient(circle at 50% 50%, #ffffff, #000000 120%);
                font-size: 34px;
            }
            .about-section-description {
                width: calc(100% - 48px);
                padding: 0 24px;
                div {
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: 0.25px;
                    text-align: justify;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
            .button-about {
                width: 280px;
                height: 32px;
                background-image: url('../../assets/buttons/medium-mob.png');
                background-repeat: no-repeat;
            }
        }
        .exotic-section {
            height: 500px;
            .clock-wrapper {
                width: 100%;
                background-position: center;
                .exotic-header {
                    width: 100%;
                    height: 70px;
                    text-align: center;
                }
                .exotic-description {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
        .team-section {
            padding: 40px 0;
            .team-section-header {
                background-image: radial-gradient(circle at 50% 50%, #ffffff, #000000 70%);
            }
            .photos {
                flex-direction: column;
                width: 100%;
                div {
                    .photo {
                        margin: 0 auto;
                    }
                    margin-bottom: 20px;
                    .icon {
                        margin: 0;
                    }
                }
            }
        }
        .question-block {
            margin: 20px auto;
        }
    }
}