.home-page {
    // padding: 0 230px;
    background: black;
    .space {
        height: 78px;
    }
    .background-image {
        height: 800px;
        background-image: url("../../assets/images/home-car.png");
        background-size: contain;
        .title {
            position: absolute;
            left: 20%;
            top: 30%;
            width: 339px;
            height: 114px;
            margin: 0 0 36px 5px;
            background-image: radial-gradient(circle at 15% 81%, #ffffff, #636363 122%);
            font-family: Roboto-medium;
            font-size: 48px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            @media screen and (max-width: 420px) {
                padding: 0 14px;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        @media screen and (max-width: 420px) {
            height: 250px;
            width: 100%;
            padding-top: 100px;
            background-size: cover;
            background-position: 70%;
            background-repeat: no-repeat;
        }
    }
    .content-wrap {
        height: 604px;
        // background-color: #171717;
        background: black;
        background-image: url('../../assets/images/black-car.png');
        background-position: center;
        background-repeat: no-repeat;
        .title-launch {
            height: 58px;
            margin: 0 auto;
            padding-top: 58px;
            background-image: radial-gradient(circle at 50% 50%, #ffffff, #000000 48%);
            font-family: 'Roboto-medium';
            font-size: 48px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        ;
        .timer {
            height: 112px;
            font-family: Roboto;
            font-size: 96px;
            font-weight: 100;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -1.5px;
            text-align: center;
            color: #ffffff;
        }
        .text-content {
            .header-title {
                display: flex;
                align-items: center;
                .red-text {
                    color: #ec2d44;
                    font-size: 36px;
                    font-weight: bold;
                }
                .horizontal-line {
                    height: 40px;
                    width: 1px;
                    margin: 0 15px;
                    background: black;
                }
                .description-title {
                    font-size: 18px;
                }
            }
            .oclock-button {
                width: 145px;
                padding: 8px 0;
                margin-top: 70px;
                color: #ec2d44;
                border-radius: 4px;
                border: 2px solid #ec2d44;
                text-align: center;
                cursor: pointer;
                &:hover {
                    border: 2px solid black;
                    color: black;
                }
            }
        }
        .description-wrap {
            margin-top: 50px;
            width: 420px;
            text-align: justify;
        }
        .clock-description {
            width: 290px;
            margin-top: 90px;
            .title {
                font-size: 22px;
                font-weight: bold;
                font-style: italic;
            }
            .clock-title {
                margin-top: 15px;
                font-size: 14px;
            }
        }
        @media screen and (max-width: 420px) {
            flex-direction: column;
            width: calc(100% - 20px);
            margin: 30px 0 0 0;
            padding: 0 10px;
            .text-content {
                .header-title {
                    .red-text {
                        font-size: 24px;
                    }
                    .horizontal-line {
                        height: 28px;
                        margin: 0 12px;
                    }
                    .description-title {
                        font-size: 16px;
                    }
                }
                .oclock-button {
                    width: 100px;
                    padding: 5px 0;
                    margin: 20px auto;
                    font-size: 14px;
                }
            }
            .description-wrap {
                margin-top: 20px;
                width: 100%;
                p {
                    font-size: 12px;
                    margin: 10px 0;
                    padding: 0 8px;
                }
            }
            .clock-image {
                height: 298px;
                width: 100%;
            }
            .clock-description {
                width: calc(100% - 20px);
                padding: 0 10px;
                margin-top: 10px;
                .title {
                    font-size: 22px;
                }
                .clock-title {
                    margin-top: 10px;
                    padding-right: 5px;
                    font-size: 12px;
                }
            }
        }
    }
    .stake-block {
        .title {
            width: 442px;
            height: 56px;
            margin: 176px auto 40px;
            background-image: radial-gradient(circle at 50% 50%, #ffffff, #000000 190%);
            font-family: Roboto-medium;
            font-size: 48px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .stake-panel {
            width: 760px;
            height: 178px;
            margin: 0 auto;
            padding: 24px;
            background-color: #242323;
            .stake {
                .stake-header {
                    display: flex;
                    .wrap-title {
                        .stake-title {
                            width: 142px;
                            height: 16px;
                            font-family: Roboto;
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.33;
                            letter-spacing: 0.4px;
                            color: rgba(255, 255, 255, 0.6);
                        }
                        .stake-value {
                            width: 142px;
                            height: 30px;
                            margin-top: 4px;
                            font-family: Roboto;
                            font-size: 24px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.25;
                            letter-spacing: normal;
                            color: #ffffff;
                        }
                        &.first {
                            width: 220px;
                        }
                        &.second {
                            width: 270px;
                        }
                        &.third {
                            width: 150px;
                        }
                        &.fourth {
                            width: 110px;
                        }
                    }
                }
                .stake-body {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 24px;
                    .stake-input-wrap {
                        width: 360px;
                        padding: 16px;
                        background-color: rgba(255, 255, 255, 0.1);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .stake-input {
                            background: transparent;
                            outline: none;
                            border: none;
                            width: 291px;
                            height: 24px;
                            margin: 0 16px 0 0;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: 0.15px;
                            color: rgba(255, 255, 255, 0.6);
                            &::placeholder {
                                color: rgba(255, 255, 255, 0.6);
                            }
                        }
                        .stake-type {
                            width: 20px;
                            height: 24px;
                            margin: 0 0 0 16px;
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: 0.15px;
                            text-align: center;
                            color: #ffffff;
                        }
                    }
                    .stake-button {
                        width: 142px;
                        height: 44px;
                        background-image: url('../../assets/buttons/stake.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    .unstake-button {
                        width: 142px;
                        height: 44px;
                        background-image: url('../../assets/buttons/unstake.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                .stake-footer {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 24px;
                    .stake-wrap-more {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 254px;
                        padding: 0px 36px;
                        .stake-more {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 80px;
                            height: 16px;
                            font-family: Roboto-medium;
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.33;
                            letter-spacing: 0.4px;
                            text-align: center;
                            color: #ec2d44;
                            cursor: pointer;
                            div {
                                font-size: 22px;
                                height: 34px;
                            }
                        }
                    }
                }
            }
        }
        .stake-link {
            display: flex;
            color: white;
            justify-content: space-between;
            margin: 24px auto 140px;
            width: 205px;
            font-family: Roboto;
            font-size: 14px;
            letter-spacing: 0.4px;
            color: rgba(255, 255, 255, 0.6);
            cursor: pointer;
            div {
                font-size: 24px;
                line-height: 14px;
            }
        }
    }
    .game {
        background-color: #171717;
        padding-bottom: 100px;
        .game-header {
            padding: 50px 0 30px 0;
            background-image: radial-gradient(circle at 50% 50%, #ffffff, #000000 39%);
            font-family: Roboto-medium;
            font-size: 48px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .tokenomix {
        padding-top: 60px;
        background: #EC2D44;
        // .background {
        //     background-image: url('../../assets/images/lambo-win.png');
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     width: 90%;
        //     height: 470px;
        //     margin: 50px auto 0;
        // }
        .blur {
            display: flex;
            justify-content: space-between;
            height: 390px;
            padding: 80px 175px 0;
            background: rgba(0, 0, 0, 0.5);
        }
        .title {
            font-size: 35px;
            font-weight: bold;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
            letter-spacing: 0.1em;
            text-align: center;
            color: white;
        }
        .columns {
            height: 340px;
            width: 300px;
            background: rgba(36, 35, 35, 0.57);
            .title {
                font-size: 24px;
                text-shadow: none;
                letter-spacing: 1px;
                margin-top: 32px;
                &.red {
                    color: #EC2D44;
                }
            }
            .step {
                width: 250px;
                text-align: left;
                font-size: 18px;
                color: white;
                margin: 5px 20px;
            }
            .horizontal-line {
                height: 2px;
                width: 45px;
                margin: 30px auto;
                background: white;
                &.red {
                    background: #EC2D44;
                }
            }
            &.red {
                background: rgba(236, 45, 68, 0.4);
            }
        }
        @media screen and (max-width: 420px) {
            padding-top: 20px;
            .title {
                font-size: 26px;
            }
            .background {
                height: 500px;
                margin: 20px auto 0;
                .blur {
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    height: calc(100% - 60px);
                    padding: 30px;
                    .columns {
                        height: auto;
                        width: 220px;
                        .title {
                            font-size: 16px;
                            margin-top: 12px;
                        }
                        .horizontal-line {
                            margin: 10px auto;
                        }
                        .step {
                            width: 200px;
                            margin: 5px 10px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        padding: 50px 300px;
        height: 300px;
        background: black;
        .title {
            color: #EC2D44;
            text-align: center;
            font-size: 35px;
        }
        .description-title {
            margin-bottom: 20px;
            color: #BADA55;
            font-weight: bold;
            text-align: center;
        }
        .community {
            .icons {
                margin-top: 68px;
            }
        }
        .empty {
            margin: 30px 0;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            color: white;
        }
        .icons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .anticon {
                padding: 5px;
                background: white;
                border-radius: 50%;
                svg {
                    font-size: 30px;
                }
            }
        }
        @media screen and (max-width: 420px) {
            padding: 20px;
            height: 160px;
            .title {
                font-size: 24px;
            }
            .empty {
                margin: 10px 0;
                font-size: 18px;
            }
            .community {
                .icons {
                    margin-top: 48px;
                }
            }
        }
    }
}

.news-hardcore {
    .news-title {
        margin-top: 100px;
        background-image: radial-gradient(circle at 49% 50%, #ffffff, #000000 80%);
        font-family: Roboto;
        font-size: 48px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.question-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 985px;
    height: 100px;
    padding: 0 196px;
    margin: 180px auto 80px;
    background-color: #ec2d44;
    .question {
        font-family: Roboto;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.75;
        letter-spacing: 0.5px;
        color: #ffffff;
    }
    .button {
        background-image: url('../../assets/buttons/telegram.png');
        width: 134px;
        height: 46px;
        background-repeat: no-repeat;
    }
    @media screen and (max-width: 420px) {
        height: 100px;
        width: calc(100% - 40px);
        padding: 0 20px;
        .question {
            font-family: raleway, sans-serif;
            font-size: 13px;
            color: white;
        }
        .button {
            padding: 4px 15px;
            font-size: 14px;
        }
    }
}

.wrap-items {
    display: flex;
    justify-content: space-between;
    width: 740px;
    margin: 80px auto 0;
    .item {
        width: 200px;
        height: 230px;
        padding: 24px 15px 20px 16px;
        background: black;
        border: 1px solid white;
        .number {
            width: 196px;
            height: 112px;
            margin: 0 0 8px;
            font-family: Roboto;
            font-size: 96px;
            font-weight: 100;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -1.5px;
            text-align: center;
            color: #ffffff;
        }
        .title {
            width: 150px;
            height: 48px;
            margin: 8px 23px 24px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.15px;
            text-align: center;
            color: #ffffff;
        }
        .label-item {
            height: 80px;
            background-repeat: no-repeat;
            width: 80px;
            margin: 0 auto 35px;
            &.arrows {
                background-image: url('../../assets/buttons/arrows.png');
            }
            &.money {
                background-image: url('../../assets/buttons/money.png');
            }
            &.ask {
                background-image: url('../../assets/buttons/ask.png');
            }
        }
    }
    .button {
        width: 162px;
        height: 36px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .degen {
        background-image: url('../../assets/buttons/degen.png');
    }
    .swap {
        background-image: url('../../assets/buttons/swap.png');
    }
    .pool {
        background-image: url('../../assets/buttons/pool.png');
    }
    .medium {
        background-image: url('../../assets/buttons/medium.png');
    }
}