.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999999;
    width: calc(100% - 460px);
    padding: 0 230px;
    height: 72px;
    background: #000000;
    &.mobile {
        display: none;
    }
    .logo {
        margin-left: -20px;
        width: 195px;
    }
    .button {
        width: 170px;
        height: 16px;
        font-family: Roboto-medium;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: 1.25px;
        text-align: center;
        color: #f44d5e;
    }
    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 600px;
        .item {
            width: 96px;
            height: 16px;
            font-family: Roboto-medium;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 1.25px;
            text-align: center;
            color: rgba(255, 255, 255, 0.6);
            border-bottom: 1px solid transparent;
            padding-bottom: 10px;
            &:hover {
                transform: scale(1.1);
            }
            &.active {
                color: #f44d5e;
                border-bottom: 1px solid #f44d5e;
            }
        }
    }
    .network-user {
        margin-left: 100px;
        display: flex;
        align-items: center;
        .network-name {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 80px;
            height: 36px;
            border-radius: 5px;
            color: #ffffff;
            background-color: #242323;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: 0.25px;
            .network-status {
                width: 10px;
                height: 10px;
                background: #42b842;
                border-radius: 50%;
            }
            .network-text {
                height: 19px
            }
        }
        .user-profile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 139px;
            height: 32px;
            margin: 19px 0 21px 10px;
            padding: 2px 10px 2px 6px;
            background-color: #242323;
            border-radius: 5px;
            cursor: pointer;
            .profile-logo {
                width: 20px;
                height: 20px;
                background-image: url('../../assets/profile.png');
                background-size: cover;
            }
            .user-address {
                width: 93px;
                height: 20px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: 0.25px;
                color: #ffffff;
            }
        }
    }
    @media screen and (max-width: 420px) {
        display: none;
        &.mobile {
            display: flex;
            align-items: center;
            height: 56px;
            padding: 0 10px 0 30px;
            width: calc(100% - 40px);
            .logo {
                width: 140px;
                margin: 0;
            }
            .hamburger {
                cursor: pointer;
                width: 30px;
                height: 24px;
                position: absolute;
                z-index: 1;
                top: 15px;
                right: 10px;
            }
            .hamburger .bar {
                padding: 0;
                width: 30px;
                height: 3px;
                background-color: rgb(199, 199, 199);
                display: block;
                border-radius: 3px;
                transition: all 0.4s ease-in-out;
                position: absolute;
            }
            .bar1 {
                top: 0;
            }
            .bar2,
            .bar3 {
                top: 11px;
            }
            .bar3 {
                right: 0;
            }
            .bar4 {
                bottom: 0;
            }
            .checkbox.active {
                .hamburger {
                    .bar1 {
                        transform: rotate(45deg);
                        transform-origin: 5%;
                        width: 34px
                    }
                    .bar2 {
                        transform: translateX(-40px);
                        background-color: transparent;
                    }
                    .bar3 {
                        transform: translateX(40px);
                        background-color: transparent;
                    }
                    .bar4 {
                        transform-origin: 5%;
                        transform: rotate(-45deg);
                        width: 34px;
                    }
                }
            }
            .network-user {
                margin-left: 10px;
            }
            .mobile-nav-body {
                display: flex;
                flex-direction: column;
                height: 100vh;
                width: 0;
                position: absolute;
                background-color: #171717;
                top: 0;
                right: 0;
                transition: 0.3s;
                &.active {
                    width: 324px;
                }
                .profile-logo {
                    width: 20px;
                    height: 20px;
                    background-image: url('../../assets/profile.png');
                    background-size: cover;
                }
                .user-profile {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 120px;
                    height: 32px;
                    padding: 2px 10px 2px 6px;
                    background-color: #242323;
                    border-radius: 5px;
                    cursor: pointer;
                    margin: 15px 0 15px 5px;
                    color: #ffffff;
                }
                .navigation {
                    flex-direction: column;
                    align-items: flex-start;
                    width: 300px;
                    height: 240px;
                    padding-left: 24px;
                    a {
                        text-align: left;
                    }
                    .item.active {
                        border: 0
                    }
                }
            }
        }
    }
}

.info {
    margin-top: 10px;
}

.btn {
    width: 90%;
    font-family: Roboto-medium;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.25px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.stake-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 16px;
    font-family: Roboto-medium;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ec2d44;
    cursor: pointer;
    div {
        font-size: 22px;
        height: 34px;
    }
    &:hover {
        opacity: 0.8;
    }
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    .pop-up-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 320px;
        height: 100px;
        margin-top: 200px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.4px;
        text-align: center;
        background: #242323;
        color: #ffffff;
        border-radius: 5px;
        .text-pop-up {
            margin: 15px 0;
        }
        .pop-up-button {
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 28px;
            margin-bottom: 15px;
            background-image: url('../../assets/buttons/stake.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}