.vault {
    .vault-button-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 400px;
        width: 1000px;
        margin: 0 auto;
        color: white;
        text-align: center;
        .white-line {
            border-bottom: 3px solid;
            width: 40px;
            margin: 0 auto 20px;
        }
        .button-vault {
            width: 220px;
            padding: 30px;
            background: rgb(14, 20, 33);
        }
        .discriptrion-value {
            color: #BADA55;
        }
        .button {
            padding: 10px;
            min-width: 100px;
            background: red;
            max-width: 100px;
            margin: 20px auto 20px;
        }
    }
    .description {
        h1 {
            font-size: 36px;
            margin-bottom: 70px;
        }
    }
    @media screen and (max-width: 420px) {
        .description {
            padding: 60px 40px 20px;
            h1 {
                font-size: 26px;
                margin: 10px 20px;
            }
            h3 {
                font-size: 14px;
            }
            .description-item {
                font-size: 12px;
            }
        }
        .vault-button-wrap {
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin: 10px auto;
            .button-vault {
                padding: 0;
                margin: 5px 0;
                border-radius: 5px;
                h2 {
                    margin: 8px;
                    font-size: 16px;
                }
                .hc-value {
                    font-size: 14px;
                }
                .discriptrion-value {
                    font-size: 14px;
                }
                .white-line {
                    border-bottom: 2px solid;
                    margin: 0 auto 10px;
                }
                .button {
                    min-width: 80px;
                    max-width: 80px;
                    padding: 4px 0;
                    margin: 10px auto;
                    font-size: 14px;
                }
            }
        }
    }
}

.modal.vault {
    .wrap-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            margin: 20px;
            text-align: center;
            font-size: 22px;
            font-style: italic;
        }
        input {
            width: 200px;
        }
    }
}